/* Chatbot UI enhancements */
._quick_contact{
	position: fixed; z-index: 9999;
	display: flex; align-items: center; justify-content: center;
	right: 2.5vw; bottom: 50px; font-size: 48px;
	transition: transform 0.5s, opacity 0.5s;
	width: 86px; height: 86px; border-radius: 50%;
}
._quick_contact.hide{
	transform: translateY(-40px); opacity: 0; pointer-events: none;
}
._quick_contact::before{
	content:''; display: block; position: absolute;
	background: linear-gradient(135deg,rgba(59, 6, 148, 1) 20%, rgba(0, 159, 227, 1) 180%);
	width: 100%; height: 100%; border-radius: 50%; transition: opacity 0.5s;
}
._quick_contact::after {
	content:''; display: block; position: absolute;
	background: linear-gradient(135deg, rgb(193 156 255) 30%, rgb(26 213 255) 100%);
	width: 100%; height: 100%; opacity: 0; border-radius: 50%; transition: opacity 0.5s;
}
._quick_contact i{color: #fff; position: relative; z-index: 2;}

/* 호버 */
html.pc ._quick_contact:hover::before{opacity: 0;}
html.pc ._quick_contact:hover::after{opacity: 1;}

@media screen and (max-width:1600px) {}
@media screen and (max-width:1440px) {}
@media screen and (max-width:1280px) {}
@media screen and (max-width:1024px) {
	._quick_scrollDown{bottom: 20px; width: 50px; height: 50px; border-radius: 5px; font-size: 16px;}
	._quick_contact{width: 70px; height: 70px; bottom: 20px;}
}
@media screen and (max-width:820px) {}
@media screen and (max-width:500px) {
	._quick_scrollDown{left: 5vw; width: 40px; height: 40px;}
	._quick_contact{width: 50px; height: 50px; right: 5vw; font-size: 20px; }
}
@media screen and (max-width:320px) {}
